*~
*.pyc
*.class
*.orig
*.pb.cc
*.pb.h
.*.swp
.libs/
.deps/
#*
.#*
*_pkg.py
.DS_Store

.svn

ios/build/leveldb/leveldb/*_test
ios/build/leveldb/leveldb/{build_config.mk,db_bench}
ios/build/re2/re2/obj/*

scratch/
build-hbase/logs
*/{build,dist,MANIFEST}
*/*.egg-info
**build/**.{o,a,lo,la,so}


*.xcodeproj/

ios/phonenumbers/.git

android/google-play-services/bin/*
android/google-play-services/gen/*
android/google-play-services/local.properties

android/android-switch-backport/bin/*
android/android-switch-backport/gen/*
android/android-switch-backport/local.properties

# Ignore gyp-generated android makefiles. We can't ignore all .mk files yet, we still have some hand-crafted ones.
shared/*.mk
